<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Gusoktor{% endblock %}</title>
    <link rel='stylesheet' href={{ static('css/style.css') }}>
  </head>
  <body class="{% block bodyname %}{% endblock %}">
    <header>
        <div class="logo">
            <a href="{{ url('home') }}"><img src="{{ static('images/logo.png') }}" alt="Logo"></a>
        </div>

        {% if user.is_authenticated() %}
            <a href="{{ url('logout') }}">cerrar sesion</a>
        {% else %}
            <a href="{{ url('login') }}">ingresar</a> / <a href="{{ url('registrar.empresa') }}">registrar</a>
        {% endif %}
    </header>
    <hr>
    <div class="main">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
