{% extends 'base.html' %}

{% block content %}

<style>
body {background-image: url("https://media.giphy.com/media/BHNfhgU63qrks/giphy.gif"); background-size: cover; background-repeat: no-repeat;}
	.trans{
	  background-color:white;
	  color:black
      position:absolute;
      text-align:center;
}

</style>
<br><br>
  <center class="trans" style="z index:1;filter:alpha(opacity=50);float:center;-moz-opacity:.50;opacity:.70" >
  <h2>Bienvenido!, {{ user.get_full_name() }} <small>{{ user.username }}</small>.
</h2>
  <p>Sos un: {{ user.profile_type() }}</p>
  <p>Algunos datos relevantes son:</p>
  {% if user.is_empresa() %}
    <p>CUIT: {{ user.profile().CUIT }}</p>
  {% endif %}
  {% if user.is_desocupado() %}
    <p>DNI: {{ user.profile().dni }}</p>
  {% endif %}
	<a href="{{ url('eliminar') }}"><button type="submit">Eliminar</button></a>

</center>
<!--
    <input type="button" value="Eliminar">
-->
  {% if user.is_empresa() %}
	<a href="{{ url('modificar.empresa') }}">Modificar</a>
  {% endif %}
  {% if user.is_desocupado() %}
	<a href="{{ url('modificar.desocupado') }}">Modificar</a>
  {% endif %}
{% endblock %}



